﻿@model Shop_Demo.Models.EditProductViewModel
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<hr />

<h2 class="manageHeader">Edycja produktu</h2>

<div>
    @if (Model.ConfirmSuccess.HasValue && Model.ConfirmSuccess.Value)
    {
        <div style="text-align: center; margin: 50px;">
            Pomyślnie wprowadzono zmiany!
        </div>
    }

    @using (@Html.BeginForm("AddProduct", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="error-summary-centered">
            @Html.ValidationSummary()
        </div>

        @Html.HiddenFor(o => o.Album.AlbumId)
        @Html.HiddenFor(o => o.Album.DateAdded)
        @Html.HiddenFor(o => o.Album.CoverFileName)

        <div style="text-align: center;">
            <table id="albumedit-address-table">
                <tr>
                    <td>@Html.LabelFor(o => o.Album.ArtistName, "Wykonawca:")</td>
                    <td>@Html.TextBoxFor(o => o.Album.ArtistName)</td>
                    <td>@Html.ValidationMessageFor(o => o.Album.ArtistName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Album.AlbumTitle, "Album:")</td>
                    <td>@Html.TextBoxFor(o => o.Album.AlbumTitle)</td>
                    <td>@Html.ValidationMessageFor(o => o.Album.AlbumTitle)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Album.Description, "Opis:")</td>
                    <td>@Html.TextBoxFor(o => o.Album.Description)</td>
                    <td>@Html.ValidationMessageFor(o => o.Album.Description)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Genres, "Gatunek:")</td>
                    <td>@Html.DropDownListFor(m => m.Album.GenreId, new SelectList(Model.Genres, "GenreId", "Name", Model.Genres.First().GenreId))</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Album.Price, "Cena:")</td>
                    <td>@Html.TextBoxFor(o => o.Album.Price)</td>
                    <td>@Html.ValidationMessageFor(o => o.Album.Price)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Album.IsBestseller, "Bestseller:")</td>
                    <td>@Html.CheckBoxFor(o => o.Album.IsBestseller)</td>
                    <td></td>
                </tr>

                @if (ViewBag.EditMode == null || !ViewBag.EditMode)
                {
                    <tr>
                        <td colspan="3">

                            <div class="upload">
                                <input type="file" name="file" />
                            </div>

                        </td>
                    </tr>
                }

                <tr>
                    <td style="text-align: left">
                        @if (ViewBag.EditMode)
                        {
                            if (Model.Album.IsHidden)
                            {
                                @* A bit dangerous - CSRF. Nested form.. Need to use form attr or JS *@
                                <a href="@Url.Action("UnhideProduct", "Manage", new { albumId = Model.Album.AlbumId })" style="display: block; margin-top: 15px; font-weight: bold;">
                                    Przywróć
                                </a>
                            }
                            else
                            {
                                @* A bit dangerous - CSRF. Nested form.. Need to use form attr or JS *@
                                <a href="@Url.Action("HideProduct", "Manage", new { albumId = Model.Album.AlbumId })" style="display: block; margin-top: 15px; font-weight: bold;">
                                    Usuń
                                </a>
                            }
                        }
                    </td>

                    <td style="text-align: right;">

                        <input type="submit" value="Zapisz" class="submitLink" style="height: 40px; margin-right: 0px; margin-top: 30px; font-weight: bold;" />

                    </td>
                    <td></td>

                </tr>
            </table>
        </div>
    }

</div>


