﻿@model Shop_Demo.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

</head>
<body>
    @Html.Partial("_ViewSwitcher")
    <h3 class="ui-bar ui-bar-a">Witamy w sklepie SpodIgły.pl!</h3>

    <div class="ui-body">

        <ul data-role="listview" data-inset="true" data-divider-theme="a">

            <li data-role="list-divider">Nowości</li>

            @foreach (var newArrival in Model.NewArrivals)
            {
                <li>
                    <a href="@Url.Action("Details", "Store", new { id = newArrival.AlbumId })" data-ajax="false">
                        <img src="@Url.Content("~/Content/Covers/" + newArrival.CoverFileName)">
                        <h2>@newArrival.AlbumTitle</h2>
                        <p>@newArrival.ArtistName</p>
                    </a>
                </li>
            }

            <li data-role="list-divider">Bestsellery</li>

            @foreach (var bestseller in Model.Bestsellers)
            {
                <li>
                    <a href="@Url.Action("Details", "Store", new { id = bestseller.AlbumId })" data-ajax="false">
                        <img src="@Url.Content("~/Content/Covers/" + bestseller.CoverFileName)">
                        <h2>@bestseller.AlbumTitle</h2>
                        <p>@bestseller.ArtistName</p>
                    </a>
                </li>
            }

        </ul>

        <br />

        <ul data-role="listview" data-inset="true" data-filter-placeholder="Szukaj gatunku muzycznego..." data-filter="true">

            @foreach (var genre in Model.Genres)
            {
                <li>
                    <a href="@Url.Action("List", "Store", new { genrename = genre.Name.ToLower() })" data-ajax="false">@genre.Name</a>
                </li>
            }

        </ul>

        <br />

        <div data-role="footer">
            <div data-role="navbar">
                <ul>
                    <li><a href="https://www.facebook.com" data-ajax="false" data-icon="heart">Facebook</a></li>
                    <li><a href="@Url.Action("StaticContent", "Home", new { viewname = "Onas" })" data-ajax="false" data-icon="info">O nas</a></li>
                    <li><a href="@Url.Action("StaticContent", "Home", new { viewname = "Kontakt" })" data-ajax="false" data-icon="mail">Kontakt</a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /footer -->

    </div>


</body>
</html>
