﻿<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" />

    <style>
        .manageLink {
            height: 42px;
            float: left;
            line-height: 40px;
            font-size: 14px;
            padding-left: 40px;
            /*background-color: #585858;*/
            background-color: #39312E;
            color: white;
        }

        a.manageLink, a.manageLink:hover, a.manageLink:visited {
            color: white;
        }
    </style>

</head>
<body>
    <header>
        <div style="overflow: hidden; margin-bottom: 30px;">

            <a class="manageLink" href="@Url.Action("Index", "Home")">
                Start
            </a>
            <a class="manageLink" href="@Url.Action("Index", "Manage")">
                Twoje dane
            </a>
            @if (@User.IsInRole("Admin"))
            {
                <a class="manageLink" href="@Url.Action("AddProduct", "Manage")">
                    Dodaj
                </a>
                <a class="manageLink" href="@Url.Content("~/hangfire")">
                    Jobs
                </a>
                <a class="manageLink" href="@Url.Content("~/elmah")">
                    Logi
                </a>
            }
            <a class="manageLink" href="@Url.Action("OrdersList", "Manage")" style="width: 100px">
                Zamówienia
            </a>

            <a id="cart-header-link" href="@Url.Action("Index", "Cart")">
                KOSZYK (<span id="cart-header-items-count">@Html.Action("GetCartItemsCount", "Cart")</span>)
                <span id="cart-header-logo"></span>
            </a>

            @Html.Partial("_LoginPartial")

        </div>

        <div id="breadcrumb-section">
            <img src="@Url.Content("~/Content/Images/home-small.png")" />
            @Html.MvcSiteMap().SiteMapPath()
        </div>

    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <nav>
            <ul>
                <li><a href="">O nas</a></li>
                <li><a href="">Kontakt</a></li>
                <li><a href="">Wysyłka</a></li>
                <li><a href="">Regulamin</a></li>
            </ul>
        </nav>
        <div id="footer-cd-logo">
            <img src="@Url.Content("~/Content/images/footer-cd.png")" />
        </div>

        <div id="footer-copyright">
            Coptyright &copy; 2019 Demo_Shop
        </div>
    </footer>

    @RenderSection("ScriptsBottom", required: false)
</body>
</html>
