﻿<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" />

</head>
<body>
    <header>
        <div style="overflow: hidden;">
            <a id="facebook-header" href="https://www.facebook.com">
                DOŁĄCZ DO NAS NA FACEBOOKU
            </a>

            
            <a id="cart-header-link" href="@Url.Action("Index", "Cart")">
                KOSZYK (<span id="cart-header-items-count">@Html.Action("GetCartItemsCount", "Cart")</span>)
                <span id="cart-header-logo"></span>
            </a>

            @Html.Partial("_LoginPartial")

        </div>
        <a id="main-header-logo" href="@Url.Content("~/")">
            <img src="@Url.Content("~/Content/Images/spodigly-logo-main.png")" class="center" />
        </a>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <nav>
            <ul>
                <li><a href="@Url.Action("StaticContent", "Home", new { viewname = "Onas" })">O nas</a></li>
                <li><a href="@Url.Action("StaticContent", "Home", new { viewname = "Kontakt" })">Kontakt</a></li>
                <li><a href="@Url.Action("StaticContent", "Home", new { viewname = "Wysylka" })">Wysyłka</a></li>
                <li><a href="@Url.Action("StaticContent", "Home", new { viewname = "Regulamin" })">Regulamin</a></li>
            </ul>
        </nav>
        <div id="footer-cd-logo">
            <img src="@Url.Content("~/Content/images/footer-cd.png")" />
        </div>

        <div id="footer-copyright">
            Coptyright &copy; 2019 Demo_Shop
        </div>
    </footer>

    @RenderSection("ScriptsBottom", required: false)
</body>
</html>
